*
{
margin: 0;
padding: 0;
}

.header,.footer
{
    display: inline-block;
    border: 1px dashed black;
    height: 20px;
    background-color: pink;
    width: 99.9%;
    text-align: left;
    padding: 10px 0px 15px 0px;
    font-size: 20px;
    font-weight: normal;
}

.parent
{
    display: inline-flex;
    height: 530px;
    background-color: red;
    width: 100%;
    text-align: center;
    padding-top: 0px;
}

.parent > div 
{
    width: 33.33%;
    border: 1px dashed black;
    background-color: yellow;
    display: inline-block;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
}
