*
{
margin: 0;
padding: 0;
}

.div-container {
    width: 99.8%;
    height: 600px;
    display: inline-flex;
  }

 .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12,.col13,.col14,.col15,.col16,.col17,.col18,.col19,.col20,.col21,.col22,.col23 {
    width: 4.34%;
    height: 100%;
    float: left;
  }

  div
  {
    background-color: aqua;
    border:1px solid white;
  }

  .div-container > .col1 > div {
    height: 100%;
  }
  
  .div-container > .col2 > div {
    height: 49.85%;
  }

  .div-container > .col3 > div {
    height: 33.12%;
  }

  .div-container > .col4 > div{
    height: 24.77%;
  }

  .div-container > .col5 > div {
    height: 19.75%;
  }

  .div-container > .col6 > div {
    height: 16.41%;
  }

  .div-container > .col7 > div {
    height: 14.02%;
  }

  .div-container > .col8 > div {
    height: 12.23%;
  }

  .div-container > .col9 > div {
    height: 10.835%;
  }

  .div-container > .col10 > div {
    height: 9.715%;
  }

  .div-container > .col11 > div {
    height: 8.8%;
  }

  .div-container > .col12 > div {
    height: 8.04%;
  }

